@media screen and (-webkit-min-device-pixel-ratio:1.5){
    %sp-{%= name %}-2x {
        overflow: hidden;
        display: inline-block;
        background-image: url('../img/sp_{%= name %}_2x.png');
        background-repeat: no-repeat;
        background-size: 304px 304px;
        content: '';
    }
}

$sp-{%= name %}-2x: (
    spritesheet_name: sp-{%= name %}-2x,
    ico_ret1: (offset_x: 0, offset_y: 0, width: 100px, height: 100px),
    ico_ret2: (offset_x: -102px, offset_y: 0, width: 100px, height: 100px),
    ico_ret3: (offset_x: 0, offset_y: -102px, width: 100px, height: 100px),
    ico_ret4: (offset_x: -102px, offset_y: -102px, width: 100px, height: 100px),
    ico_ret5: (offset_x: 0, offset_y: -204px, width: 100px, height: 100px),
    ico_ret6: (offset_x: -204px, offset_y: 0, width: 100px, height: 100px),
);
