@media screen and (-webkit-min-device-pixel-ratio:1.5){
    %{{spritesheet_name}} {
        overflow: hidden;
        display: inline-block;
        background-image: url('{{{spritesheet.escaped_image}}}');
        background-repeat: no-repeat;
        background-size: {{#options.retina}}{{{spritesheet.width}}}{{/options.retina}} {{#options.retina}}{{{spritesheet.width}}}{{/options.retina}};
        content: '';
    }
}

${{spritesheet_name}}: (
    spritesheet_name: {{spritesheet_name}},
  {{#items}}
    {{name}}: (offset_x: {{#options.zerounit}}{{#options.retina}}{{px.offset_x}}{{/options.retina}}{{/options.zerounit}}, offset_y: {{#options.zerounit}}{{#options.retina}}{{px.offset_y}}{{/options.retina}}{{/options.zerounit}}, width: {{#options.retina}}{{px.width}}{{/options.retina}}, height: {{#options.retina}}{{px.height}}{{/options.retina}}),
  {{/items}}
);
